./Development/src/.*
./Development/bin/.*
./Development/env/.*
./Development/tb/.*
./Development/test/.*
./Development/
./Development/src/csrc/*
./Development/src/simv.daidir/*
./Development/src/csrc
./Development/src/simv.daidir
./Development/src/simv
./Development/src/ucli.key

./Development/src/*.bak
./Development/bin/*.bak
./Development/env/*.bak
./Development/tb/*.bak
./Development/test/*.bak
