/Development/src/.*
/Development/bin/.*
/Development/env/.*
/Development/tb/.*
/Development/test/.*
/**/**/csrc/*
/**/**/*.vcd
/**/**/**/*.vcd
/**/**/simv.daidir/*
/**/**/csrc
/**/**/simv.daidir
/**/**/simv
/**/**/ucli.key
/**/**/**/csrc/*
/**/**/**/simv.daidir/*
/**/**/**/csrc
/**/**/**/simv.daidir
/**/**/**/simv
/**/**/**/ucli.key
/**/**/DVEfiles/*
/**/**/DVEfiles
/**/**/inter.vpd

/Development/tb/script.pl

/Development/src/*.bak
/Development/bin/*.bak
/Development/env/*.bak
/Development/tb/*.bak
/Development/test/*.bak
